# MySQL Database Configuration
MYSQL_HOST=mysql_db
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=async_tasks_db

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# API Service Configuration
API_PORT=8000

# Worker Service Configuration
WORKER_NAME=task_worker_1
